

.profile-container {
    flex: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.status-feed-container {
    height: 500px;
    background-color: black;
}

.status-feed {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px
}

/* footer {
    background-color: rgb(125, 249, 255);
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border-bottom: solid rgb(125, 249, 255) 15px; */






