.welcome-page-container {
    height: 425px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-title {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    color: #DFFF00
}